
@{
    ViewBag.Title = "Index";
}

<h2>C# mancala mvc implementatie</h2>

<body>
    <text>
        <br>
        <br>
        <br>
        @Html.ActionLink("start playing mancala", "playMancala", "playMancala");
        <br>
        <br>
        <br>
        <br>
    </text>
</body>

@section Scripts{
    <script type="text/javascript">
        //any javascript code you want
        //try to make seperate js files, then load them up here
    </script> 
    }